body {
  text-align: center;
}

#field {
  border: 1px solid silver;
}

#field:hover {
  cursor: crosshair;
}

.choice-control {
  padding-top: 20px;
  height: 100px;
}

.choice-control label {
  cursor: pointer;
}
